@model vodTimeControl.Models.CCustomer

<style>
    .Error {
        color: red;
    }
</style>

<div>
    <form id="myForm">
        @Html.HiddenFor(m => m.customerID)
        <div class="form-group">
            <div class="col-md-12">
                @Html.DropDownListFor(m => m.custTypeID, ViewBag.UserRoleList as SelectList, "--Välj--", new { @class = "form-control", style = "margin-bottom: 5px;" })
                @Html.ValidationMessageFor(m => m.custTypeID, "", new { @class = "Error" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.custName, new { @class = "form-control ", @placeholder = "Kundnamn", style = "margin-bottom: 5px;" })
                @Html.ValidationMessageFor(m => m.custName, "", new { @class = "Error" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.address1, new { @class = "form-control", @placeholder = "Address rad 1", style = "margin-bottom: 5px;" })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.address2, new { @class = "form-control", @placeholder = "Address rad 2", style = "margin-bottom: 5px;" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.zipCode, new { @class = "form-control", @placeholder = "Postnr", style = "margin-bottom: 5px;" })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.city, new { @class = "form-control", @placeholder = "Stad/ort", style = "margin-bottom: 5px;" })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "Email", style = "margin-bottom: 5px;" })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <span><span style="vertical-align : middle;">Aktiv&nbsp;&nbsp;</span>@Html.CheckBoxFor(m => m.active, new { @checked = "checked", style = "vertical-align : middle;" })</span>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12" id="ErrorTextId" style="color:red; margin-bottom:5px">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <a href="#" id="btnSubmit" class="btn btn-success" style = "margin-bottom: 5px;">
                    @if (Model.customerID > 0)
                    {<span>Uppdatera</span> }
                    else
                    {<span>Spara</span>}
                </a>
            </div>
        </div>

        <div class="clearfix"></div>
    </form>
</div>



<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script>

    $(document).ready(function () {
        $("#btnSubmit").click(function () {            
            if (!$("#myForm").valid())
                return;
            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Home/updateCustomer",
                data: myformdata,
                success: function (response) {                    
                    if (response == "") {
                        $("#myModal1").modal("hide");
                        BindDataTable();
                    }
                    else
                        $("#ErrorTextId").html("<span>" + response + "</span>");
                }

            })
        })

    })


</script>



